/* hoja de estilos. moms */

body{
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  /* border: 1px solid red; */
}
.layout {
  width: inherit;
  display: grid;
  grid-template: 400px 120px 1fr 70px/ calc(100vw - 100px) 100px;
  grid-template-areas:  "header header"
                        "menu menu"
                        "content category"
                        "footer footer";
  /* border: 1px solid green; */
}
.layout .header {
  grid-area: header;
  display: grid;
  grid-template: 1fr 1fr / 85% 15%;
  color: #58DAF5;
}
.layout .header .title {
  grid-row: 1;
  grid-column: 1;
  padding: 1em;
}
.layout .header .title h1 {
  margin: 0;
  width: 100%;
  font-size: 3em;
}
.layout .header .message {
  margin: 0;
  padding: 0 .5em;
  grid-row: 2;
  grid-column: 1;
  font-size: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.layout .header .message p {
  margin-top: 0;
}
.layout .header .message .cita{
  margin-top: 0;
  display: flex;
  flex-direction: row;
}
.layout .header .message h6 {
  margin: 0;
  width: 50%;
}

/* logo */
.layout .header .logo {
  grid-row: span 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.layout .header .logo img {
  width: 90%;
  max-width: 150px;
  height: auto;
  padding: 1em;
}

/* menu */
.layout .menu {
  height: inherit;
  grid-column: span 2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.layout .menu ul li a { 
  font-size: 1.8em;
  padding: .3em;
  color: #e4bce5;
  text-decoration: none;
  letter-spacing: -.05em;
  transition: text-decoration 10s;
}
.layout .menu ul li:hover a { 
  text-decoration: underline;
}


/* categoria */
.layout .category {
  grid-area: category;
  background: #58DAF5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.layout .category h1 {
  width: 20px;
  line-height: 2em;
  word-wrap: break-word;
  text-align: center;
  font-size: 2em;
}

/* Inicia el contenido: fotos de los productos */
.layout .content {
  grid-area: content;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  padding: 1em;
}
.layout .content .search {
  width: 100vw;
}
.layout .content .product {
  position: relative;
  border: 5px solid #58DAF5;
  overflow: hidden;
  -webkit-box-shadow: 6px 7px 0px -1px rgb(228, 188, 229,1);
  -moz-box-shadow: 6px 7px 0px -1px rgba(228,188,229,1);
  box-shadow: 6px 7px 0px -1px rgba(228,188,229,1);
}
.layout .content .product img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout .content .product:hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 4s 1;

}
.layout .content .vertical {
  grid-row: span 2; 
}
.layout .content .horizontal {
  grid-column: span 2;
}
.layout .content .big {
  grid-row: span 2; 
  grid-column: span 2;
}
.layout .footer {
  grid-area: footer;
  /* background-image: url(../images/footer_img.png); */
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;   
}
.mom {
  background: rgba(228,188,229,.9);
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
}
.mom h1 {
  margin: .5em;
  text-align: center;
}
.mom p {
  margin: 0;
}
.layout .content .vertical:hover .mom,
.layout .content .big:hover .mom {
  height: 40%;
  opacity: 1;
  transition-duration: 2s;
}
.layout .content .horizontal:hover .mom {
  height: 80%;
  opacity: 1;
  transition-duration: 2s;
}
.layout .content .square:hover .mom {
  height: 90%;
  opacity: 1;
  transition-duration: 2s;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e4bce5;
  color: white;
  left: 10px;
  top: 10px;
  text-align: center;
  line-height: 40px !important;
  position: fixed;
  z-index: 10;
  display: none;
}


@media screen and (max-width: 900px) {
  .layout {
    grid-template: 270px 100px 100px 100% 50px/ 100vw;
    grid-template-areas:  "header"
                          "menu"
                          "category"
                          "content"
                          "footer";
  }
  .layout .header .title {
    padding-bottom: 0;
  }
  .layout .header .title h1 {
    font-size: 2.5em;
  }
  .layout .header .message {
    font-size: 1.5em;
  }
  /* menu */
  .layout .menu ul li a { 
    font-size: 1.5em;
  }
  /* .layout .menu ul li a::after { 
    content: "|";
  } */
  /* categoria */
  .layout .category {
    justify-content: flex-start;
    margin: 0 0 10px 0;
  }
  .layout .category h1 {
    word-wrap: normal;
    letter-spacing: .8em;
    padding-left: 1em;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    grid-template: 310px 0px 60px 100% 50px/ 1fr;
  }
  .layout .header {
    grid-area: header;
    display: grid;
    grid-template: .5fr 1.5fr / 85% 15%;
    color: #58DAF5;
  }
  .layout .header .title {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5em;
  }
  .layout .header .title h1 {
    font-size: 2em;
    width: auto;
  }
  .layout .header .message {
    font-size: 1.3em;
    padding: 0em;
  }
  .layout .menu {
    position: fixed;
    z-index: 9;
    left: -100vw;
    top: 0;
    background: white;
    padding-top: 40px;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
  }
  .layout .menu.is-active {
    left: 0;
  }
  .layout .menu ul {
    display: block;
  }
  .layout .menu ul li { 
    padding: .5em;
    width: 100%;
  }
  .layout .category {
    margin-left: 10px;
  }
  .layout .category h1 {
    font-size: 1.5em;
    line-height: .5em;
    letter-spacing: .3em;
    width: 100%;
  }
  .burger-button {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .layout {
    grid-template: 380px 0px 50px 100% 50px/ 100vw;
  }
  .layout .header {
    grid-area: header;
    display: grid;
    grid-template: 70px 1fr / 85% 15%;
    color: #58DAF5;
  }
  .layout .header .title {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0em .5em 0 .5em;
  }
  .layout .header .title h1 {
    font-size: 1.8em;
    letter-spacing: -.05em;
  }
  .layout .header .message {
    font-size: 1.3em;
    padding: .5em .2em;
  }
  .layout .header .logo {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .layout .header .message blockquote {
    margin: .2em;
  }
  .layout .category h1 {
    font-size: 1.5em;
    line-height: .5em;
  }
}

@media screen and (max-width: 385px) {
  .layout {
    grid-template: 400px 0px 50px 100% 50px/ 100vw;
  }
  .layout .content {
    grid-gap: 10px;
  }
  .layout .header .title {
    justify-content: flex-start;
  }
  .layout .header .title h1 {
    font-size: 1.5em;
  }
  .layout .header .message {
    grid-column: span 2;
  }
  .layout .header .logo {
    display: none;
  }
  .mom p {
    font-size: .8em;
  }
  .burger-button {
    /* width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e4bce5;
    color: white; */
    left: calc(100vw - 50px);
    top: 45px;
    /* text-align: center;
    line-height: 40px !important;
    position: fixed;
    z-index: 10;
    display: none; */
  }
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mlzes5');
  src:  url('../fonts/icomoon.eot?mlzes5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mlzes5') format('truetype'),
    url('../fonts/icomoon.woff?mlzes5') format('woff'),
    url('../fonts/icomoon.svg?mlzes5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-whatsapp:before {
  content: "\ea93";
}


/* animaciones */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}